/* Intro */

.intro-servi {
    background: url("../img/servi.png") no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 80px 0;
    height: 220px;
  }
  .intro-servi .container {
    flex-direction: column;
  }
  
  .intro-servi h1 {
    font-size: 2em;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .subtitulo-servi {
    font-size: 48px;
    text-align: center;
  }
  
  .subtitulo-servi:after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: #fff;
    margin: 5px auto;
  }

  
.descri{
    font-size: 14px;
    text-align: center;
    margin-top: -50px;

  }

  .service-2 {
    display: flex;
    justify-content:space-around; 
    padding-top: 60px;
  }
  
  .service-list-2 {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
  }
  .service-list-item-2 {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    padding-bottom: 40px;
  }

  
  .service-list-item-2 img {
    margin-right: 20px;
    margin-bottom: 50px;
    width: 150px;
  }
  
  .service-list-item-2 span {
    font-size: 16px;

  }

  .servi-h3{
      font-size: 24px;
  }

